body {
margin: 0px;
font-family: 'Verdana', system-ui, sans-serif;
}
.BANNER {
background: linear-gradient(90deg, black, white);
}
.MAIN {
vertical-align: top;
}
.MAIN table {
text-align: left;
border-collapse: collapse;
position: absolute; 
top: 136px;
left: 0px
}
.bottom {
border: 0px;
position: fixed; 
bottom: 0px;
left: 0px
}
.MAIN2 {
vertical-align: top;
font-size: 11px;
}
th.BUTTON:hover, th.BUTTON:active { 
background-color: black;
color: white;
}
.CONTENT {
font-size: 10px;
}
.TITLE {
text-align: left;
}