body {
font-family: arial;
}
h1 {
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	cursor: default;
}
h2 {	
	cursor: default;
}
footer {
	margin-top: 200px;
	margin-left: 50px;
	margin-right: 50px;
}
th {
	cursor: default;
}